body {
    font-family: Arial, sans-serif;
}
#navbar-container {
    overflow: hidden;
    background-color: #333;
}

.content-box {
    background-color: #f2f2f2;
    color: #333333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #cccccc;
    text-align: left;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
}

#submit-button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: black;
    cursor: pointer;
    width: 30%;
}

#info-content {
    max-width: 100%;
}

#welcome {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

    
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.title {

    color: white;
    padding: 14px 20px;
    text-decoration: none;

}
.container {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: center;
    justify-content: center;
}

.profile-container{
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;

}

.page-header {
    font-size: 20px;
    text-align: left;
    padding-left: 18px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
}
.form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-group button:hover {
    background-color: #45a049;
}

.left-link {
    
    justify-content: flex-start;
}

.right-link {
    display: flex;
    justify-content: flex-end;
}